<!DOCTYPE html>
<html>
    <head>
        <title>Turris:Sentinel</title>
    </head>
    <body>
        <h1>Turris:Sentinel</h1>
        <p>
            This is frontend of Turris:Sentinel authentication API.
        </p>
        <p>
            The page is intended for robots and there is no human-readable content.
        </p>
        <hr />
        <p>
            For Turris:Sentinel statistics data, see
            <a href="https://view.sentinel.turris.cz/">Sentinel:View</a> web.
        </p>
    </body>
</html>
