## local.cfg
#
# Example configuration parameters for Sentinel:Cert-API

# Sentinel:CA Redis database
REDIS_CERTS_HOST = "redis.example.org"
REDIS_CERTS_PASSWORD = "foobared"

# Sentinel:Mailpass database
REDIS_MAILPASS_HOST = "redis.priklad.cz"
REDIS_MAILPASS_PASSWORD = "tajneheslo"
